*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
background-color: aquamarine;

}
.container{
height: 400px;    
width: 50%;    
background-color: white;
margin: 50px auto;
display: flex;
flex-direction: column;
justify-content: space-evenly;
}
h1{
text-align: center;

}
label{
color:aqua;
margin: 3px 0;
}
input{
border: none;    
border-bottom:1px solid aqua;    
margin: 7px 0;
}
form{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.submit{
padding: 6px;
background-color: aqua;

}
p{
text-align: center;
margin-bottom: auto;
}
